@import url(./reset.css);

.inner{
    max-width: 1340px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}
/* -----common----- */

header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 550px;
}
.header_menu{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .header_menu li{} */
/* ----header_end---- */

/* ----section_1_end---- */
.section_2, .section_3{
    padding: 40px;
}
.section_2 h1, .section_3 h1{
    font-size: 30px;
    text-align: center;
    color: #333;
}
.best_item_wrap{
    display: flex;
}
.best_item img{
    width: 30%;
    height: 350px;
}
/* ----section_2_end---- */
.section_3{
    background-color: #fcf9ee;
}
.about_item img{
    margin-top: 30px;
    width: 50%;
    height: 500px;
}
/* ----section_3_end---- */
footer{
    background-color: #333;
    padding: 30px;
}
footer span{
    color: #fcf9ee;
    font-size: 15px;
    font-weight: 550;
}
footer ul{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.sns{ /*footer ul:last-child*/
    margin-bottom: 0;
}
footer li{
    color: #ddd;
    margin-top: 20px;
    font-weight: 500;
    font-size: 13px;
    margin-right: 20px;
}
/* ----footer_end---- */
